Codes/ee7001env
*/__pycache__/
*/*/__pycache__/
Report/*.aux
Report/*.bbl
Report/*.blg
Report/*.fdb_latexmk
Report/*.fls
Report/*.log
Report/*.synctex.gz
Report/*.out
PPT/midterm/main.aux
PPT/midterm/*.bbl
PPT/midterm/*.blg
PPT/midterm/*.fdb_latexmk
PPT/midterm/*.fls
PPT/midterm/*.log
PPT/midterm/*.synctex.gz
PPT/midterm/*.out
PPT/midterm/*.nav
PPT/midterm/*.snm